.chk-win {
    all: unset;
    position: fixed;
    opacity: 0;
    margin: 0;
}

    .chk-win + label {
        font-family: var(--font-family);
        font-size: 11px;
        line-height: 13px;
        position: relative;
        margin-left: 19px;
        -webkit-user-select: none;
        -moz-appearance: none;
        user-select: none;
    }

.chk-win:focus + label {
    outline: 1px dotted #000;
}

/*-------------------------------------------*\
    Win XP
\*-------------------------------------------*/
.chk-win-xp {
    background: none;
    border: none;
    appearance: none;
}

        .chk-win-xp + label:before {
            content: "";
            position: absolute;
            left: -19px;
            display: inline-block;
            width: 13px;
            height: 13px;
            background: #fff;
            box-shadow: inset -1px -1px #fff, inset 1px 1px grey, inset -2px -2px #dfdfdf, inset 2px 2px #0a0a0a;
            margin-right: 6px;
        }

    .chk-win-xp:active + label:before {
        background: #ece9d8;
    }

    .chk-win-xp:checked + label:after {
        content: "";
        display: block;
        width: 11px;
        height: 11px;
        position: absolute;
        background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='7' height='7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7 0H6v1H5v1H4v1H3v1H2V3H1V2H0v3h1v1h1v1h1V6h1V5h1V4h1V3h1V0z' fill='%23000'/%3E%3C/svg%3E");
        top: 1px;
        margin-left:-1px;
    }

    .chk-win-xp[disabled] + label:before {
        background: #ece9d8;
    }

    .chk-win-xp[disabled]:checked + label:after {
        background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='7' height='7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7 0H6v1H5v1H4v1H3v1H2V3H1V2H0v3h1v1h1v1h1V6h1V5h1V4h1V3h1V0z' fill='gray'/%3E%3C/svg%3E");
    }

    .chk-win-xp + label:before {
        box-shadow: none;
        border: 1px solid #1d5281;
        background: linear-gradient(135deg, #dcdcd7, #fff);
    }

    .chk-win-xp:checked + label:after {
        background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -0.5 11 11' shape-rendering='crispEdges'%3E%3Cpath stroke='%2322a122' d='M8 2h1M7 3h2M2 4h1m3 0h3M2 5h2m1 0h3M2 6h5M3 7h3M4 8h1'/%3E%3C/svg%3E");
        left: -17px;
    }

    .chk-win-xp:not([disabled]):not(:active) + label:hover:before {
        box-shadow: inset -2px -2px #f8b636, inset 2px 2px #fedf9c;
    }

    .chk-win-xp:active + label:before {
        background: linear-gradient(135deg, #b0b0a7, #e3e1d2);
    }

    .chk-win-xp[disabled] + label:before {
        background: #fff;
        border: 1px solid #cac8bb;
    }

    .chk-win-xp[disabled]:checked + label:after {
        background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -0.5 11 11' shape-rendering='crispEdges'%3E%3Cpath stroke='%23cac8bb' d='M8 2h1M7 3h2M2 4h1m3 0h3M2 5h2m1 0h3M2 6h5M3 7h3M4 8h1'/%3E%3C/svg%3E");
    }


/*-------------------------------------------*\
    Win 98
\*-------------------------------------------*/
.chk-win-98 + label {
    display: inline-flex;
    align-items: center;
}

.chk-win-98 {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: 0;
    border: none;
}

    .chk-win-98 + label:before {
        content: "";
        position: absolute;
        left: -19px;
        display: inline-block;
        width: 13px;
        height: 13px;
        margin-right: 6px;
    }

    .chk-win-98:active + label:before {
        background: var(--win98-background);
    }

    .chk-win-98:checked + label:after {
        content: "";
        display: block;
        width: 7px;
        height: 7px;
        position: absolute;
        top: 1px;
    }

    .chk-win-98[disabled] + label:before {
        background: var(--win98-background);
    }

    .chk-win-98[disabled]:checked + label:after {
        background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='7' height='7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7 0H6v1H5v1H4v1H3v1H2V3H1V2H0v3h1v1h1v1h1V6h1V5h1V4h1V3h1V0z' fill='gray'/%3E%3C/svg%3E");
    }

    .chk-win-98 + label:before {
        box-shadow: inset -1px -1px #fff, inset 1px 1px grey, inset -2px -2px #dfdfdf, inset 2px 2px #0a0a0a;
        background: #fff;
    }

    .chk-win-98:checked + label:after {
        background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='7' height='7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7 0H6v1H5v1H4v1H3v1H2V3H1V2H0v3h1v1h1v1h1V6h1V5h1V4h1V3h1V0z' fill='%23000'/%3E%3C/svg%3E");
        left: -16px;
        top: 50%;
        transform: translateY(-50%);
    }


/*-------------------------------------------*\
    Win 7
\*-------------------------------------------*/
.chk-win-7 {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: none;
    border: none;
    font: var(--font);
    margin: 0;
    opacity: 0;
}

    .chk-win-7 + label {
        align-items: center;
        display: inline-flex;
        font: var(--font);
        font-size: 9pt;
        margin-left: var(--chk-win7-total-width);
        position: relative;
    }

        .chk-win-7 + label:before {
            background: #f6f6f6;
            border: 1px solid;
            border-color: var(--btn-win7-border-color);
            box-shadow: inset 0 0 0 1px #f4f4f4, inset 1px 1px 0 1px #aeaeae, inset -1px -1px 0 1px #ddd, inset 3px 3px 6px #ccc;
            box-sizing: border-box;
            content: "";
            display: inline-block;
            height: var(--chk-win7-width);
            margin-right: var(--chk-win7-label-spacing);
            transition: .4s;
            min-width: var(--chk-win7-width);
        }

        .chk-win-7 + label:hover:before {
            outline: none;
            outline-offset: unset;
            background: #e9f7fe;
            border-color: var(--btn-win7-border-color-hovered);
            box-shadow: inset 0 0 0 1px #def9fa, inset 1px 1px 0 1px #79c6f9, inset -1px -1px 0 1px #c6e9fc, inset 3px 3px 6px #b1dffd;
        }

 /*   .chk-win-7:focus-visible,
    .chk-win-7:focus {
        outline: none !important;
        box-shadow: none !important;
        border: none !important;
    }*/
        .chk-win-7:focus-visible + label {
            outline: 1px dotted #000;
        }

    .chk-win-7:checked + label:after {
        color: #4a5f97;
        content: "\2714";
        display: block;
        font-weight: 700;
        left: var(--checkmark-left);
        position: absolute;
        /*top: var(--checkmark-top);*/
    }

    .chk-win-7:disabled + label {
        opacity: .6;
    }

   
