@namespace Blazor.WinOld.Components

@inherits WinOldComponentBase

@typeparam T

<option class="option-win @Class"
        value="@Value" 
		style="@Style"
		selected="@IsSelected"
		@attributes="Attributes">
	@ChildContent
</option>