.txt-win {
    all: unset;
    font-family: var(--font-family);
    font-size: 11px;
    background-color: var(--btn-win7-highlight);
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 21px;
    line-height: 2;
    font-family: var(--font-family);
    font-size: 11px;
}

.txt-win:focus {
    outline: none;
}

    .txt-win[disabled] {
        color: var(--btn-win7-text-color-disabled);
    }

label.label-txt-win {
    display: inline-flex;
    align-items: center;
    font-family: var(--font-family);
    font-size: 11px;
}

    label.label-txt-win[disabled] {
        color: var(--btn-win7-text-color-disabled);
    }

.label-txt-hide {
    display: none !important;
}

/*-------------------------------------------*\
    Win XP
\*-------------------------------------------*/
.txt-win-xp {
    border: solid #7f9db9 1px;
    box-sizing: border-box;
    border-radius: 0;
    padding: 3px 4px;
}

.lbtxt-win-xp {
    font-family: var(--font-family);
    font-size: 11px;
}

/*-------------------------------------------*\
    Win 98
\*-------------------------------------------*/
.txt-win-98 {
    border: 0px;
    border-radius: 0;
    padding: 3px 4px;
    background-color: var(--btn-win7-highlight);
    box-shadow: inset -1px -1px #fff, inset 1px 1px grey, inset -2px -2px #dfdfdf, inset 2px 2px #0a0a0a;
}

.lbtxt-win-98 {
    font-family: var(--font-family);
    font-size: 11px;
}


/*-------------------------------------------*\
    Win 7
\*-------------------------------------------*/
.txt-win-7 {
    border: 1px solid #ccc;
    border-radius: 2px;
    border-top: 1px solid var(--btn-win7-border-color);
    font: var(--font);
    font-size: 11px;
    padding: 3px 4px 5px;
}

    .txt-win-7:focus {
        border-color: var(--btn-win7-shade-light-hovered);
        border-top-color: var(--btn-win7-shade-light-active);
        outline: none;
    }

.lbtxt-win-7 {
    font-family: unset !important;
    font: var(--font);
    font-size: 9pt;
}