.opt-win {
    all: unset;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0;
    position: fixed;
    opacity: 0;
    border: none;
}

    .opt-win + label {
        font-family: var(--font-family);
        font-size: 11px;
        line-height: 13px;
        position: relative;
    }

        .opt-win + label:before {
            content: "";
            display: inline-block;
            position: absolute;
            top: 0;
        }

    .opt-win:checked + label:after {
        content: "";
        display: block;
        position: absolute;
    }

/*-------------------------------------------*\
    Win XP
\*-------------------------------------------*/
    .opt-win-xp {
    -webkit-font-smoothing: antialiased;
}

    .opt-win-xp + label {
        margin-left: 19px;
    }

        .opt-win-xp + label:before {
            left: -19px;
            width: 13px;
            height: 13px;
            margin-right: 6px;
            background: linear-gradient(135deg, #dcdcd7, #fff);
            border-radius: 50%;
            border: 1px solid #1d5281;
        }

    .opt-win-xp:active + label:before {
        background: linear-gradient(135deg,#b0b0a7,#e3e1d2);
    }

        .opt-win-xp:checked + label:after {
            background: #43c33f;
            border: 1.1px solid #a0d29e;
            border-radius: 50%;
            box-shadow: inset -1px -1px 0 .5px #21a121, inset -1px -1px 0 1px #38b935;
            box-sizing: border-box;
            height: 6px;
            width: 6px;
            left: -1.4em;
            top: 0.32em;
        }

    .opt-win-xp:focus + label {
        outline: 1px dotted #000;
    }

    .opt-win-xp:not([disabled]):not(:active) + label:hover:before {
        box-shadow: inset -2px -2px #f8b636,inset 2px 2px #fedf9c;
    }

    .opt-win-xp[disabled] + label:before {
        border: 1px solid #cac8bb;
        background: #fff;
    }

        .opt-win-xp[disabled]:checked + label:after {
            background: #d0ccb2;
            border: 1.1px solid #e8e6da;
            border-radius: 50%;
            box-shadow: inset -1px -1px 0 .5px #c5bf9f, inset -1px -1px 0 1px #cdc8ac;
            left: -1.41em;
            top: 0.29em;
        }

/*-------------------------------------------*\
    Win 98
\*-------------------------------------------*/
.opt-win-98 {
    -webkit-font-smoothing: none;
}

    .opt-win-98 + label {
        margin-left: 18px;
    }

        .opt-win-98 + label:before {
            left: -18px;
            width: 12px;
            height: 12px;
            margin-right: 6px;
            background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='12' height='12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 0H4v1H2v1H1v2H0v4h1v2h1V8H1V4h1V2h2V1h4v1h2V1H8V0z' fill='gray'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 1H4v1H2v2H1v4h1v1h1V8H2V4h1V3h1V2h4v1h2V2H8V1z' fill='%23000'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9 3h1v1H9V3zm1 5V4h1v4h-1zm-2 2V9h1V8h1v2H8zm-4 0v1h4v-1H4zm0 0V9H2v1h2z' fill='%23DFDFDF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11 2h-1v2h1v4h-1v2H8v1H4v-1H2v1h2v1h4v-1h2v-1h1V8h1V4h-1V2z' fill='%23fff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4 2h4v1h1v1h1v4H9v1H8v1H4V9H3V8H2V4h1V3h1V2z' fill='%23fff'/%3E%3C/svg%3E");
        }


    .opt-win-98:active + label:before {
        background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='12' height='12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 0H4v1H2v1H1v2H0v4h1v2h1V8H1V4h1V2h2V1h4v1h2V1H8V0z' fill='gray'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 1H4v1H2v2H1v4h1v1h1V8H2V4h1V3h1V2h4v1h2V2H8V1z' fill='%23000'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9 3h1v1H9V3zm1 5V4h1v4h-1zm-2 2V9h1V8h1v2H8zm-4 0v1h4v-1H4zm0 0V9H2v1h2z' fill='%23DFDFDF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11 2h-1v2h1v4h-1v2H8v1H4v-1H2v1h2v1h4v-1h2v-1h1V8h1V4h-1V2z' fill='%23fff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4 2h4v1h1v1h1v4H9v1H8v1H4V9H3V8H2V4h1V3h1V2z' fill='silver'/%3E%3C/svg%3E");
    }

    .opt-win-98:checked + label:after {
        width: 4px;
        height: 4px;
        top: 4px;
        left: -14px;
        background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='4' height='4' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3 0H1v1H0v2h1v1h2V3h1V1H3V0z' fill='%23000'/%3E%3C/svg%3E");
    }

    .opt-win-98:focus + label {
        outline: 1px dotted #000;
    }

    .opt-win-98:not([disabled]):not(:active) + label:hover:before {
        /*box-shadow: inset -2px -2px #f8b636,inset 2px 2px #fedf9c;*/
    }

    .opt-win-98[disabled] + label:before {
        background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='12' height='12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 0H4v1H2v1H1v2H0v4h1v2h1V8H1V4h1V2h2V1h4v1h2V1H8V0z' fill='gray'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 1H4v1H2v2H1v4h1v1h1V8H2V4h1V3h1V2h4v1h2V2H8V1z' fill='%23000'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9 3h1v1H9V3zm1 5V4h1v4h-1zm-2 2V9h1V8h1v2H8zm-4 0v1h4v-1H4zm0 0V9H2v1h2z' fill='%23DFDFDF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11 2h-1v2h1v4h-1v2H8v1H4v-1H2v1h2v1h4v-1h2v-1h1V8h1V4h-1V2z' fill='%23fff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4 2h4v1h1v1h1v4H9v1H8v1H4V9H3V8H2V4h1V3h1V2z' fill='silver'/%3E%3C/svg%3E");
    }

    .opt-win-98[disabled]:checked + label:after {
        background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='4' height='4' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3 0H1v1H0v2h1v1h2V3h1V1H3V0z' fill='gray'/%3E%3C/svg%3E");
    }


/*-------------------------------------------*\
    Win 7
\*-------------------------------------------*/
    .opt-win-7 + label {
        align-items: center;
        display: inline-flex;
        font: var(--font);
        margin-left: 20px;
        position: relative;
    }

        .opt-win-7 + label:before {
            background: #f6f6f6;
            border: 1px solid;
            border-color: var(--btn-win7-border-color);
            border-radius: 50%;
            box-shadow: inset 0 0 0 1.5px #f4f4f4, inset 1px 1px 0 1.5px #aeaeae, inset -1px 0 0 1.5px #ddd, inset 3px 3px 6px #ccc;
            box-sizing: border-box;
            height: 14px;
            left: -20px;
            margin-right: 6px;
            transition: .4s;
            width: 14px;
        }

        .opt-win-7:checked + label:after {
            background: #7cd3eb;
            border: 1.5px solid #27506d;
            border-radius: 50%;
            box-shadow: inset -1px -1px 0 .5px #16638f, inset -1px -1px 0 1px #1985c0;
            box-sizing: border-box;
            height: 8px;
            left: -17px;
            top: 3px;
            width: 8px;
        }

    .opt-win-7 + label:hover:before {
        border-color: var(--btn-win7-border-color-hovered);
        box-shadow: inset 0 0 0 1.5px #def9fa,inset 1px 1px 0 1.5px #79c6f9,inset -1px -1px 0 1.5px #c6e9fc,inset 3px 3px 6px #b1dffd
    }

    .opt-win-7:disabled + label {
        opacity: .6;
    }