@namespace Blazor.WinOld.Components

@inherits WinOldComponentBase

@if (Parent is not null )
{
    <li class="list-item @GetComponentClass() @GetActiveItemClass(this) @Class"
		style="@Style"
		@attributes="Attributes"
        @onclick="() => SelectItem(this)">
        @Text
    </li>
}