.list-item {
    /*all: unset;*/
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    list-style: none;
    cursor: default;
    margin-top: 3px;
}

.list-item:focus {
    outline: 1px dotted #222;
    color: #fff;
}

.list-item:active {
    color: #fff;
}

/*--------*\
    Win XP
\*--------*/
.list-item-win-xp:active {
    background-color: #2267cb;
}

.active-list-item-win-xp {
    background-color: #2267cb;
    color: #fff;
}

/*--------*\
    Win 98
\*--------*/
.list-item-win-98:active {
    background-color: #000080;
}

.active-list-item-win-98 {
    background-color: #000080;
    color: #fff;
}

/*--------*\
    Win 7
\*--------*/
.list-item-win-7:active {
    background-color: #3399ff;
    outline: 1px dotted #222;
}

.active-list-item-win-7 {
    background-color: #3399ff;
    color: #fff;
}
/*--------*\
    DOS
\*--------*/
.list-item-win-dos {
    margin-top: 0;
    padding: 0 1ch;
}

    .list-item-win-dos:focus {
        outline: none;
    }

.list-item-win-dos:active,
.active-list-item-win-dos {
    background-color: #000000;
    color: #ffffff;
}

/*--------*\
    Win 3.1
\*--------*/
.list-item-win-31 {
    margin-top: 1px;
    padding: 0 2px;
}

.list-item-win-31:active,
.active-list-item-win-31 {
    background-color: #000080;
    color: #ffffff;
}

/*--------*\
    Win 10
\*--------*/
.list-item-win-10 {
    margin-top: 0;
    padding: 1px 4px;
}

    .list-item-win-10:hover {
        background-color: #E5F3FF;
    }

.list-item-win-10:active,
.active-list-item-win-10,
.active-list-item-win-10:hover {
    background-color: #0078D7;
    color: #ffffff;
}
