@namespace Blazor.WinOld.Components

@inherits WinOldComponentBase

<p class="lbl-win @GetComponentClass() @Class"
   style="@Style"
   disabled="@(ParentDisabled | Disabled)"
   @attributes="Attributes">
	@ChildContent
</p>