@page "/"


<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<br />

<WinOldButton OnClick="ClickMe"
			  Appearance="Appearance.WinXP">Click me</WinOldButton>

<WinOldButton OnClick="ClickMe"
			  Appearance="Appearance.WinXP"
			  Disabled>Click me</WinOldButton>

<WinOldButton OnClick="ClickMe"
			  Appearance="Appearance.Win98"
			  >Click me</WinOldButton>

<WinOldButton OnClick="ClickMe" 
			  Appearance="Appearance.Win98"
			  Disabled>Click me</WinOldButton>

<WinOldButton OnClick="ClickMe"
			  Appearance="Appearance.Win7">Click me</WinOldButton>

<WinOldButton OnClick="ClickMe"
			  Appearance="Appearance.Win7"
			  Disabled>Click me</WinOldButton>

@code {
	private void ClickMe()
	{
		Console.WriteLine("Clicked!");
	}
}
