@page "/"


<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new madness.

I'm using Windows styles made in css by :
<ul>
	<li>https://github.com/botoxparty/XP.css</li>
	<li>https://github.com/khang-nd/7.css</li>
</ul>		

<h2 class="py-3">Buttons</h2>

<WinOldButton OnClick="ClickMe"
			  Appearance="Appearance.WinXP">Click me</WinOldButton>

<WinOldButton OnClick="ClickMe"
			  Appearance="Appearance.WinXP"
			  Disabled>Click me</WinOldButton>

<WinOldButton OnClick="ClickMe"
			  Appearance="Appearance.Win98"
			  >Click me</WinOldButton>

<WinOldButton OnClick="ClickMe" 
			  Appearance="Appearance.Win98"
			  Disabled>Click me</WinOldButton>

<WinOldButton OnClick="ClickMe"
			  Appearance="Appearance.Win7">Click me</WinOldButton>

<WinOldButton OnClick="ClickMe"
			  Appearance="Appearance.Win7"
			  Disabled>Click me</WinOldButton>



<h2 class="py-3">Checkbox</h2>

<WinOldCheckBox Checked="true"
				Appearance="Appearance.WinXP"
				Label="check box" />

<WinOldCheckBox Appearance="Appearance.WinXP"
				Label="check box" />

<WinOldCheckBox Appearance="Appearance.WinXP"
				Label="check box"
				Disabled/>

@code {
	private void ClickMe()
	{
		Console.WriteLine("Clicked!");
	}
}
