@page "/msgboxpage"

@inject IDialogService DialogService

<PageTitle>Home</PageTitle>

<h1>MessageBox</h1>


<WinOldButton OnClick="ClickMe"
			  Appearance="Appearance.WinXP">Show MessageBox</WinOldButton>



<CodeBlock Language="CodeLanguage.Razor"
		   EnableLineNumbers="true"
		   Code=@(@"
<WinOldButton OnClick=""ClickMe""
              Appearance=""Appearance.WinXP"">
  Show MessageBox
</WinOldButton>
		   	 ") />

<CodeBlock Language="CodeLanguage.CSharp"
		   EnableLineNumbers="true"  
		   Code=@(@"
   
	Appearance appearance { get; set; } = Appearance.Win7;

	async Task ClickMe()
	{
		var options = new DialogOptions
		{
			Appearance = Appearance.WinXP,
			Title = ""Warning"",
			Message = ""Blazor is awesome!"",
			Icon = Icon.Information,
			OkButtonText = ""OK"",
			CancelButtonText = """"
		};
		var DialogResult = await DialogService.ShowMessageBox(options);
	}
")
    />


@code {
	Appearance appearance { get; set; } = Appearance.Win7;

	async Task ClickMe()
	{
		var options = new DialogOptions
		{
			Appearance = Appearance.WinXP,
			Title = "Warning",
			Message = "Blazor is awesome!",
			Icon = Icon.Information,
			OkButtonText = "OK",
			CancelButtonText = ""
		};
		var DialogResult = await DialogService.ShowMessageBox(options);
	}
}
