@page "/optionbutton-page"


<PageTitle>OptionButton</PageTitle>

<h1>OptionButton</h1>

<div style="display:flex; flex-direction: row; gap: 80px;">
	<WinOldOptionButtonGroup T="int"					
							 Appearance="Appearance.Win98">
		<WinOldOptionButton Label="Adrien (disabled)" Value="1" Disabled="true" />
		<WinOldOptionButton Label="Christophe" Value="2" />
		<WinOldOptionButton Label="Denis" Value="3" />
	</WinOldOptionButtonGroup>
	
	<WinOldOptionButtonGroup T="int"
							 Appearance="Appearance.WinXP">
		<WinOldOptionButton Label="Adrien" Value="1" />
		<WinOldOptionButton Label="Christophe" Value="2" />
		<WinOldOptionButton Label="Denis (disabled)" Value="3" Disabled="true" />
	</WinOldOptionButtonGroup>

	
	<WinOldOptionButtonGroup T="int"
							 Appearance="Appearance.Win7">
		<WinOldOptionButton Label="Adrien" Value="1" />
		<WinOldOptionButton Label="Christophe (disabled)" Value="2" Disabled="true" />
		<WinOldOptionButton Label="Denis" Value="3" />
	</WinOldOptionButtonGroup>
</div>


<CodeBlock Language="CodeLanguage.Razor"
		   EnableLineNumbers="true"
		   Code=@(@"
<WinOldOptionButtonGroup T=""int""
						 Appearance=""Appearance.WinXP"">
	<WinOldOptionButton Label=""Adrien"" Value=""1"" />
	<WinOldOptionButton Label=""Christophe"" Value=""2"" />
	<WinOldOptionButton Label=""Denis (disabled)"" Value=""3"" Disabled=""true"" />
</WinOldOptionButtonGroup>
		   	 	 ") />

<CodeBlock Language="CodeLanguage.CSharp"
		   EnableLineNumbers="true"
		   Code=@(@"
private int SelectedRadio { get; set; } = 2;
	 ") />