@page "/tabs-page"


<PageTitle>Tabs</PageTitle>

<h1>Tabs</h1>

<div style="display:flex; flex-direction: row; gap: 10px;">
	<WinOldTabs Appearance="Appearance.Win98"
				Style="min-width: 210px;">
		<WinOldTabPanel Label="Tab A">
			<p>Contents of first tab</p>
		</WinOldTabPanel>

		<WinOldTabPanel Label="Tab B (disabled)" Disabled="true" />

		<WinOldTabPanel Label="Tab C" >
			<p>Contents of third tab</p>
		</WinOldTabPanel>

	</WinOldTabs>

	
	<WinOldTabs Appearance="Appearance.WinXP"
				Style="min-width: 210px;">
		<WinOldTabPanel Label="Tab A">
			<p>Contents of first tab</p>
		</WinOldTabPanel>

		<WinOldTabPanel Label="Tab B (disabled)" Disabled="true" />

		<WinOldTabPanel Label="Tab C" IsDefault="true">
			<p>Contents of third tab</p>
		</WinOldTabPanel>

	</WinOldTabs>

	
	<WinOldTabs Appearance="Appearance.Win7"
				Style="min-width: 210px;">
		<WinOldTabPanel Label="Tab A">
			<p>Contents of first tab</p>
		</WinOldTabPanel>

		<WinOldTabPanel Label="Tab B (disabled)" Disabled="true" />

		<WinOldTabPanel Label="Tab C">
			<p>Contents of third tab</p>
		</WinOldTabPanel>

	</WinOldTabs>
</div>

<CodeBlock Language="CodeLanguage.Razor"
		   EnableLineNumbers="true"
		   Code=@(@"
<WinOldTabs Appearance=""Appearance.WinXP""
			Style=""min-width: 210px;"">
	<WinOldTabPanel Label=""Tab A"">
		<p>Contents of first tab</p>
	</WinOldTabPanel>

	<WinOldTabPanel Label=""Tab B (disabled)"" Disabled=""true"" />

	<WinOldTabPanel Label=""Tab C"" IsDefault=""true"">
		<p>Contents of third tab</p>
	</WinOldTabPanel>

</WinOldTabs>
		   	 	 	 	 ") />