@page "/tabs-page"


<PageTitle>Tabs</PageTitle>

<h1>Tabs</h1>

<div style="display:flex; flex-direction: row; gap: 10px;">
	<WinOldTabs Appearance="Appearance.Win98"
				Style="max-width: 500px">
		<WinOldTabPanel Label="Tab A">
			<p>Contents of first tab</p>
		</WinOldTabPanel>

		<WinOldTabPanel Label="Tab B" Disabled="true">
			<p>Contents of second tab</p>
		</WinOldTabPanel>

		<WinOldTabPanel Label="Tab C" IsDefault="true">
			<p>Contents of third tab</p>
		</WinOldTabPanel>

	</WinOldTabs>

	
	<WinOldTabs Appearance="Appearance.WinXP"
				Style="max-width: 500px">
		<WinOldTabPanel Label="Tab A">
			<p>Contents of first tab</p>
		</WinOldTabPanel>

		<WinOldTabPanel Label="Tab B" Disabled="true">
			<p>Contents of second tab</p>
		</WinOldTabPanel>

		<WinOldTabPanel Label="Tab C" IsDefault="true">
			<p>Contents of third tab</p>
		</WinOldTabPanel>

	</WinOldTabs>

	
	<WinOldTabs Appearance="Appearance.Win7"
				Style="max-width: 500px">
		<WinOldTabPanel Label="Tab A">
			<p>Contents of first tab</p>
		</WinOldTabPanel>

		<WinOldTabPanel Label="Tab B" Disabled="true">
			<p>Contents of second tab</p>
		</WinOldTabPanel>

		<WinOldTabPanel Label="Tab C" IsDefault="true">
			<p>Contents of third tab</p>
		</WinOldTabPanel>

	</WinOldTabs>
</div>