.frame-win {
    all: unset;
    display: block;
    margin: 0;
}

    .frame-win legend {
        all: unset;
        font-family: Arial,var(--font-family);
        font-size: 12px;
        display: block;
        unicode-bidi: isolate;
        padding-inline: 2px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        cursor: default;
    }

.frame-win[disabled] > legend {
    color: light-dark(rgba(16, 16, 16, 0.3), rgba(255, 255, 255, 0.3));
}
/*-------------------------------------------*\
    DOS
\*-------------------------------------------*/
.frame-dos {
    position: relative;
    background: var(--dos-background);
    border: 1px solid #ffffff;
    box-shadow: 0 0 0 2px var(--dos-background), /* gap between lines */
                0 0 0 3px #ffffff, /* outer border */
                0 -3px 0 6px var(--dos-background), /* top background overflow */
                0 6px 0 6px var(--dos-background); /* bottom background overflow */
    margin: 8px;
}

    .frame-dos legend {
        position: absolute;
        top: -10px;
        left: 50%;
        transform: translateX(-50%);
        background-color: var(--dos-background);
        padding: 0 4px;
        font-family: 'IBMVGADos', monospace;
        font-size: 14px;
        color: #ffffff;
        white-space: nowrap;
    }

/*-------------------------------------------*\
    Win 98
\*-------------------------------------------*/
.frame-win-98 {
    border-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='5' height='5' fill='gray' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0h5v5H0V2h2v1h1V2H0' fill='%23fff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0h4v4H0V1h1v2h2V1H0'/%3E%3C/svg%3E") 2 !important;
    padding: 10px;
    min-inline-size: min-content;
    margin-inline: 2px;
    border: 2px groove threedface;
    padding-block: 0.35em 0.625em;
    padding-inline: 0.75em;
    background: var(--win98-background);
}

    .frame-win-98 legend {
        background: var(--win98-background);
        color: #222;
    }


/*-------------------------------------------*\
Win XP
\*-------------------------------------------*/
.frame-win-xp {
    padding: 10px;
    padding-block-start: 8px;
    box-shadow: none;
    background: #fff;
    border: 1px solid #d0d0bf;
    border-radius: 4px;
    padding-top: 10px;
}

    .frame-win-xp legend {
        background: transparent;
        color: #0046d5;
    }

/*-------------------------------------------*\
    Win 7
\*-------------------------------------------*/
.frame-win-7 {
    border: 1px solid #cdd7db;
    border-radius: 3px;
    box-shadow: inset 0 0 0 1px #fff;
    margin: 0;
    padding: 10px;
    -webkit-padding-before: 8px;
    padding-block-start: 8px;
}

    .frame-win-7 legend {

    }
/*-------------------------------------------*\
    Win 10
\*-------------------------------------------*/
.frame-win-10 {
    border: 1px solid #DCDCDC;
    margin: 0;
    padding: 10px;
    -webkit-padding-before: 8px;
    padding-block-start: 8px;
}