.frame-win {
    all: unset;
    display: block;
    margin: 0;
}

    .frame-win legend {
        all: unset;
        font-family: Arial,var(--font-family);
        font-size: 12px;
        display: block;
        unicode-bidi: isolate;
        padding-inline: 2px;
    }

    /*-------------------------------------------*\
    Win XP
\*-------------------------------------------*/
.frame-win-xp {
    padding: 10px;
    padding-block-start: 8px;
    box-shadow: none;
    background: #fff;
    border: 1px solid #d0d0bf;
    border-radius: 4px;
    padding-top: 10px;
}

    .frame-win-xp legend {
        background: transparent;
        color: #0046d5;
    }

/*-------------------------------------------*\
    Win 98
\*-------------------------------------------*/
.frame-win-98 {
    border-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='5' height='5' fill='gray' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0h5v5H0V2h2v1h1V2H0' fill='%23fff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0h4v4H0V1h1v2h2V1H0'/%3E%3C/svg%3E") 2 !important;
    padding: 10px;
    min-inline-size: min-content;
    margin-inline: 2px;
    border: 2px groove threedface;
    padding-block: 0.35em 0.625em;
    padding-inline: 0.75em;
    background: var(--win98-background);
}

    .frame-win-98 legend {
        background: var(--win98-background);
        color: #222;
    }

/*-------------------------------------------*\
    Win 7
\*-------------------------------------------*/
.frame-win-7 {
    border: 1px solid #cdd7db;
    border-radius: 3px;
    box-shadow: inset 0 0 0 1px #fff;
    margin: 0;
    padding: 10px;
    -webkit-padding-before: 8px;
    padding-block-start: 8px;
}
}

    .frame-win-7 legend {

    }